stages:
  - build
  - test
  - publish

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.docker-template: &docker_template
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "Logging into GitLab Container Registry..."
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY

build-image:
  <<: *docker_template
  stage: build
  script:
    - export IMAGE_TAG=$(echo "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" | tr '[:upper:]' '[:lower:]')
    - export IMAGE_LATEST=$(echo "$CI_REGISTRY_IMAGE:latest" | tr '[:upper:]' '[:lower:]')
    - echo "Building image $IMAGE_TAG"
    - docker build -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG $IMAGE_LATEST
    - docker push $IMAGE_TAG
    - docker push $IMAGE_LATEST

run-tests:
  <<: *docker_template
  stage: test
  needs: ["build-image"]
  script:
    - export IMAGE_TAG=$(echo "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" | tr '[:upper:]' '[:lower:]')
    - echo "Running tests..."
    - docker pull $IMAGE_TAG
    - docker run $IMAGE_TAG npm test

publish-image:
  <<: *docker_template
  stage: publish
  needs: ["run-tests"]
  only:
    - main
  script:
    - export IMAGE_TAG=$(echo "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" | tr '[:upper:]' '[:lower:]')
    - export IMAGE_PROD=$(echo "$CI_REGISTRY_IMAGE:production" | tr '[:upper:]' '[:lower:]')
    - echo "Publishing image..."
    - docker pull $IMAGE_TAG
    - docker tag $IMAGE_TAG $IMAGE_PROD
    - docker push $IMAGE_PROD
    - echo "Image published successfully!"