# 1. Define the stages
stages:
  - build
  - test
  - publish

# 2. Define DOCKER variables
variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  CI_REGISTRY: "registry.gitlab.com" # Keep this hardcoded fix
  SAFE_IMAGE_NAME: my-app-ci-image 

# --- Shared Configuration (USING ANCHOR) ---
.docker-template: &docker_template
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind

# --- JOB 1: Build the Docker Image ---
build-image:
  <<: *docker_template # Use ALIAS instead of extends
  stage: build
  script:
    # ... (rest of the script is fine, using FULL_IMAGE_TAG, etc.)
    - FULL_IMAGE_TAG="$CI_REGISTRY/$SAFE_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - FULL_IMAGE_TAG_LATEST="$CI_REGISTRY/$SAFE_IMAGE_NAME:latest"
    # ...
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $FULL_IMAGE_TAG .
    - docker push $FULL_IMAGE_TAG

# --- JOB 2: Run Unit Tests ---
run-tests:
  <<: *docker_template
  stage: test
  needs: ["build-image"]
  # V V V V V V V V V V V V V V V V V V V V V V V
  script:
    - echo "--- Running Unit Tests (Job 2) ---"
    - FULL_IMAGE_TAG="$CI_REGISTRY/$SAFE_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY 
    - docker pull $FULL_IMAGE_TAG
    - docker run $FULL_IMAGE_TAG npm test
    
    
    # --- JOB 3: Publish (Push) the Image to Registry ---
publish-image:
  <<: *docker_template # Use ALIAS instead of extends
  stage: publish
  needs: ["run-tests"]
  script:
    # ... (rest of the script is fine)