# 1. Define the stages
stages:
  - build
  - test
  - publish

# 2. Define DOCKER variables
variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  CI_REGISTRY: "registry.gitlab.com"
  SAFE_IMAGE_NAME: my-app-ci-image 

# --- Shared Configuration (USING ANCHOR) ---
.docker-template: &docker_template
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind

# --- JOB 1: Build the Docker Image ---
build-image:
  <<: *docker_template
  stage: build
  script:
    - echo "--- Building Docker Image (Job 1) ---"
    - FULL_IMAGE_TAG="$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$SAFE_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - FULL_IMAGE_TAG_LATEST="$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$SAFE_IMAGE_NAME:latest"
    - echo "Building image $FULL_IMAGE_TAG"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $FULL_IMAGE_TAG .
    - docker tag $FULL_IMAGE_TAG $FULL_IMAGE_TAG_LATEST
    - docker push $FULL_IMAGE_TAG
    - docker push $FULL_IMAGE_TAG_LATEST

# --- JOB 2: Run Unit Tests ---
run-tests:
  <<: *docker_template
  stage: test
  needs: ["build-image"]
  script:
    - echo "--- Running Unit Tests (Job 2) ---"
    - FULL_IMAGE_TAG="$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$SAFE_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY 
    - docker pull $FULL_IMAGE_TAG
    - docker run $FULL_IMAGE_TAG npm test

# --- JOB 3: Publish (Push) the Image to Registry ---
publish-image:
  <<: *docker_template
  stage: publish
  needs: ["run-tests"]
  script:
    - echo "--- Publishing Image (Job 3) ---"
    - FULL_IMAGE_TAG="$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$SAFE_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - FULL_IMAGE_TAG_LATEST="$CI_REGISTRY/$CI_PROJECT_NAMESPACE/$SAFE_IMAGE_NAME:latest"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $FULL_IMAGE_TAG
    - docker tag $FULL_IMAGE_TAG $FULL_IMAGE_TAG_LATEST
    - docker push $FULL_IMAGE_TAG_LATEST
    - echo "Image published successfully!"